<li>
  <div class="planet-item" data-id=<%= planet.id %> data-name="<%= planet.name %>">
    <%= planet.name %>
  <div />
  <button class="btn" id="edit-planet">Edit</button>
  <button class="btn" id="delete-planet">Delete</button>
</li>